#glsl-base-debug-container{
  height: 100%;
  /*min-width: 98%;
  max-width: 99%;*/
  width: calc(100% - 20px);
  top: 0;
  left: 0;
  position :absolute;
  margin: 10px;
  color: white;
  display: none;
  font-size: 12px;

}

#glsl-base-debug-normalizer {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: rgba(251, 251, 251, 0.28);
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  display: none;
}

#glsl-base-debug-normalizer:hover {
  background-color: rgba(251, 251, 251, 0.38);

}

#glsl-base-debug-main {
  height: 100%;
  position: relative;
  border: solid 1px #6c6a6a;
}

#glsl-base-debug-main .back-wall {
  opacity: 0.16;
  background-color: rgba(255, 255, 255, 0.65);
  position: fixed;
}

#glsl-base-debug-main #top-btns {
  display: flex;
  background-color: rgba(255, 255, 255, 0.58);
  position: relative;
  overflow: visible;
}

#glsl-base-debug-main #top-btns .top-btn {
  padding: 1px 0px;
  color: black;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  font-family: serif;
  width: 48px;
  text-align: center;
}

#glsl-base-debug-main #top-btns .top-btn:hover, 
#glsl-base-debug-main #top-btns .top-btn.hover {
  background-color: rgba(0, 242, 207, 0.15);
  box-shadow: inset 0px 0px 1px #121212;
}


#glsl-base-debug-main #top-btns #file-select,
#glsl-base-debug-main #top-btns #folder-select {
  opacity: 0;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

#glsl-base-debug-main #top-btns #folder-select {
  left: 48px;
}

#glsl-base-debug-main #view-btn #view-dp-parent {
  position: absolute;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.97);
  width: 120px;
  overflow: visible;
  box-shadow: 0px 1px 2px #2f2f2f;
  display: none;
}

#glsl-base-debug-main #view-btn #view-dp-parent li:hover {
  background-color: rgba(0, 242, 207, 0.15);
}

#glsl-base-debug-main #view-btn ul li span {
  text-align: left;
  padding: le;
  float: left;
  left: 20px;
  padding-left: 20px;
}

#glsl-base-debug-main #view-btn #view-dp-parent .right-extendable::before {
  z-index: 1;
  position: absolute;
  right: 1px;
  top: -1px;
  font-family: cursive;
  line-height: 23px;
  pointer-events: none;
  width: 15px;
  font-size: 12px;
  content: ">";
  /* font-weight: 900; */
  height: 20px;
  line-height: 20px;
}

#glsl-base-debug-main #view-btn #view-dp-parent #layout-dp-parent {
  background-color: rgba(255, 255, 255, 0.97);
  position: absolute;
  left: 120px;
  width: 100%;
  top: 0px;
  box-shadow: 0px 1px 2px #2f2f2f;
  display: none;
}

#glsl-base-debug-container #top-tabs{
  position: relative;
  background-color: rgba(255, 255, 255, 0.03);
  display: flex;
}

#glsl-base-debug-container .tabs-ul{
  display: flex;
  height: 34px;
  /*padding: 6px 10px 0px;*/

}

#glsl-base-debug-container .tabs-ul:nth-child(n+2) {
  border-left: solid 1px #6c6a6a;
}

#glsl-base-debug-container .tabs-ul .file-tab,
#glsl-base-debug-container .file-tab.dragging-tab { 

  background-color: rgba(255, 255, 255, 0.1);
  border: solid 0.5px rgba(125, 125, 125, 0.43);
  padding: 4px 4px 4px 7px;
  border-radius: 9px 6px 0px 0px / 15px 25px 0px 0px;
  cursor: pointer;
  user-select: none;
  margin-top: 6px;

  display: flex;

}

#glsl-base-debug-container .file-tab.dragging-tab { 
  position: absolute;
  background-color: rgba(25, 25, 25, 0.9);
}

#glsl-base-debug-container .tabs-ul .file-tab:nth-child(1) {
  margin-left: 10px;
}

#glsl-base-debug-container .tabs-ul .file-tab .file-tab-name {
  height: 20px;
}

#glsl-base-debug-container .tabs-ul .file-tab-close-btn {
  margin: 2px 2px 2px 6px; 
  /*
  line-height: 5px;
  padding: 0px 4px;
  */
  width: 17px;
  text-align: center;
  font-size: 8px;
  border-radius: 7px;

}

#glsl-base-debug-container  .file-tab-close-btn:hover{
  background-color: rgba(255, 255, 255, 0.13);
}

#glsl-base-debug-container .tabs-ul .file-tab.active-tab{
  background-color: rgba(0, 0, 0, 0.42);
  border: none;
}

#glsl-base-debug-container #minimize-btn {
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
  width: 25px;
  text-align: center;
  user-select: none;
  line-height: 22px;
}

#glsl-base-debug-container #minimize-btn:hover {
  background-color: #676767;
}

#glsl-base-debug-container #minimize-btn:active {
  background-color: #888888;
}

#glsl-base-debug-main #review-canvas {
  display: flex;
  position: relative;
  height: 100%;
}

#glsl-base-debug-main #canvas-field  {
  position: relative;
  height: 100%;
}

#glsl-base-debug-main #canvas-field .separator {
  cursor: e-resize;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 2px;
  left: 33.333%;
  padding-left: 5px;
}

.glsl-base-debug-files {
  position: relative;
  height: 100%;
  width: 50%;
}

.glsl-base-debug-files:nth-child(n+2) {
  border-left: solid 1px #6c6a6a;
}

.glsl-base-debug-files .glsl-base-debug{
  position: relative;
  overflow: auto;
  height: calc(100% - 90px);
  top: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px rgba(28, 28, 28, 0.4);
  color: white;
}

.glsl-base-debug-files .glsl-base-debug img {
   background: url(data:image/gif;base64,R0lGODlhEAAQAPEBAAAAAL+/v////wAAACH5BAAAAAAALAAAAAAQABAAAAIfjG+iq4jM3IFLJipswNly/XkcBpIiVaInlLJr9FZWAQA7) fixed;
}

.glsl-base-debug-files .glsl-base-debug::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.11);
}

.glsl-base-debug-files .glsl-base-debug::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.58);
    border-radius: 3px;
}


.glsl-base-debug .code-line {
    overflow: hidden;
    display: table-row-group;

    height: 15px;
   /* display: flow-root;
    display: contents;*/
}

.glsl-base-debug .code-line.error-text {
  color: #ffce71;
  height: initial;
}

.glsl-base-debug .line-content {
    overflow: hidden;
}

.glsl-base-debug .line-number {
  padding-right: 10px;
  width: 18px;
  float: left;
  color: #e8c2c2;
  text-align: right;
  line-height: 14px;
  user-select: none;
}

/*
.glsl-base-debug .code-line:nth-child(n+50) .line-content,
.glsl-base-debug .code-line:nth-child(n+50) .line-number {
  display: none;
}
*/
.glsl-base-debug.scroll-performance .code-line{
  display: flow-root;

}

.glsl-base-debug.scroll-performance .code-line .line-content,
.glsl-base-debug.scroll-performance .code-line .line-number {
  display: none;
}

.glsl-base-debug.scroll-performance .code-line.show .line-content,
.glsl-base-debug.scroll-performance .code-line.show .line-number {
  display: flow-root;
}


.glsl-base-debug .error-line {
  background-color: #6c0909;
}

.err-content {
  position: absolute;
  font-size: 12px;
  background-color: #f6f5f5;
  padding: 4px;
  z-index: 100;
  border-radius: 2px;
  box-shadow: 1px 1px 6px 0px rgb(194, 234, 255);
}

.path-indicator-dialog {
  position: absolute;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.87);
  padding: 0 4px;
  z-index: 100;
  border-radius: 2px;
}

.glsl-base-debug .hover-line {
  background-color: #b32121;
}

.glsl-base-debug .active-word {
  background-color: rgba(136, 85, 0, 0.95);
  border-radius: 2px;
}

.glsl-base-debug .hl-val-type {
  color: #28fbfb;
}

.glsl-base-debug .hl-attribute {
  color: #5680dd;
}

.glsl-base-debug .hl-operator {
  color: #fb3981;
}

.glsl-base-debug .hl-conditional-operator {
  color: #fb3981;
}


.glsl-base-debug .hl-builtin-function {
  color: #b1f6e9;
}

.glsl-base-debug .hl-comment {
  color: #8dac8d;
}

.glsl-base-debug .hl-sharp {
  color: #55aa66;
}

.glsl-base-debug .hl-user-struct {
  color: #f9bebe;
}

.glsl-base-debug .hl-primitive-val {
  color: #b900db;
}

.no-user-select {
  user-select:none;
}

.no-scroll {
  overflow: hidden;
}

.cursor {
  position: absolute;
  width: 1px;
  height: 12px;
  background-color: white;
  top: 20px;
  left: 50px;
}

/* 点滅 */
.blinking{
    -webkit-animation:blink 0.5s ease-in-out infinite alternate;
    -moz-animation:blink 0.5s ease-in-out infinite alternate;
    animation:blink 0.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
  0% {opacity:0;}
  40% {opacity:0;}
  60% {opacity:1;}
  100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    50% {opacity:0;}
    51% {opacity:1;}
    100% {opacity:1;}
}



